<a href="https://colab.research.google.com/github/Diwakar-Gupta/Data-Science-APRIL/blob/main/22-04-30-Pandas/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   Series -> 1D
2.   DataFrame -> 2D

In [1]:
import numpy as np
import pandas as pd

# Series = 1D

In [12]:
s = pd.Series(['Diwakar Gupta', 19, 5.5], index=['Name', 'Age', 'Height'])

In [13]:
print(s)

Name      Diwakar Gupta
Age                  19
Height              5.5
dtype: object

In [9]:
print(s['Name'])
print(s['Age'])
print(s['Height'])

Diwakar Gupta
19
5.5

In [16]:
s['Name'] = 'Diwakar'
print(s)

Name      Diwakar
Age            19
Height        5.5
dtype: object

In [21]:
print(s.values)
print(type(s.values))
print(s.index)
print(type(s.index))

['Diwakar' 19 5.5]
<class 'numpy.ndarray'>
Index(['Name', 'Age', 'Height'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [23]:
A = pd.Series([23, 19, 5.5]) # implicit indexing
A

0    23.0
1    19.0
2     5.5
dtype: float64

In [34]:
A.min(), A.values.min(), A.max(), A.mean(), A.size, A.shape

(5.5, 5.5, 23.0, 15.833333333333334, 3, (3,))

## Indexing


*   Implicit: 0, 1, 2, 3  [included, excluded]
*   Explicit: `index=['Name', 'Age']`  [included, included]

In [35]:
A[1]

19.0

In [42]:
print(A)
print()
print(A[0:2])

0    23.0
1    19.0
2     5.5
dtype: float64

0    23.0
1    19.0
dtype: float64

In [48]:
print(s) # Explicit indexing
print()
print(s['Name':'Height']) # s[include : include]
print()
print(s[0:2]) # implicit: s[included : excluded]

Name      Diwakar
Age            19
Height        5.5
dtype: object

Name      Diwakar
Age            19
Height        5.5
dtype: object

Name    Diwakar
Age          19
dtype: object

In [51]:
print(s)
print()
print(s.iloc[0:2]) # implicit 0-based indexing
print()
print(s.loc['Age':'Height']) # explicit: user-defined indexing

Name      Diwakar
Age            19
Height        5.5
dtype: object

Name    Diwakar
Age          19
dtype: object

Age        19
Height    5.5
dtype: object

In [136]:
print(A)
print()
A[A <= 20]

0    23.0
1    19.0
2     5.5
dtype: float64

1    19.0
2     5.5
dtype: float64

## **Excercise**

```
A = pd.Series(['a', 'b', 'c'], index=[0, 1, 2])
```

Indexing

Use

`A.loc[]`
`A.iloc[]`

## Creating from dictionary

In [56]:
heights = {'A': 4.3, 'B': 5.5, 'C': 5.2}

C = pd.Series(heights)
print(C)

A    4.3
B    5.5
C    5.2
dtype: float64

# DataFrame 2D



*   Indexing in columns `df['col1']`
*   Slicing in rows `df['row1':'row2']`
*

In [59]:
df = pd.DataFrame([[1,2,3,4], [5,6,7,8], [9,10, 11, 12]])
print(df)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [60]:
df = pd.DataFrame([[1,2,3,4], [5,6,7,8], [9,10, 11, 12]], index=['r1', 'r2', 'r3'], columns = ['c1', 'c2', 'c3', 'c4'])
print(df)

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12

In [64]:
type(df['c1'])
print(df['c1'])

r1    1
r2    5
r3    9
Name: c1, dtype: int64

In [87]:
print(type(df['r1':'r2']))
df2=df['r1':'r2']
df2

<class 'pandas.core.frame.DataFrame'>

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8

In [72]:
df[ [True, False, True] ]

    c1  c2  c3  c4
r1   1   2   3   4
r3   9  10  11  12

In [73]:
df.loc['r1':'r3']

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12

In [79]:
df.iloc[0:2]

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8

## Creating from dictionary

*  created using series+dictionary
*  df.T
*  info()
*  describe()
*  creating new columns
*  drop(columns=[], index=[])

In [89]:
df = pd.DataFrame( {'A' : [1,2,3,4], 'B':[5,6,7,8] })
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [90]:
heights = pd.Series([4.4, 5.5, 5.2], index=['a', 'b', 'c'])
weights = pd.Series([46, 58, 39], index=['a', 'b', 'c'])

df = pd.DataFrame( {'Height' : heights, 'Weight': weights })
df

   Height  Weight
a     4.4      46
b     5.5      58
c     5.2      39

In [92]:
df2=df.T
df2

           a     b     c
Height   4.4   5.5   5.2
Weight  46.0  58.0  39.0

In [94]:
df

   Height  Weight
a     4.4      46
b     5.5      58
c     5.2      39

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  3 non-null      float64
 1   Weight  3 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 180.0+ bytes

In [100]:
df['Height CM'] = df['Height'] * 30.48

In [101]:
df

   Height  Weight  Height CM
a     4.4      46    134.112
b     5.5      58    167.640
c     5.2      39    158.496

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Height     3 non-null      float64
 1   Weight     3 non-null      int64
 2   Height CM  3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 204.0+ bytes

In [103]:
df.describe()

         Height     Weight   Height CM
count  3.000000   3.000000    3.000000
mean   5.033333  47.666667  153.416000
std    0.568624   9.609024   17.331662
min    4.400000  39.000000  134.112000
25%    4.800000  42.500000  146.304000
50%    5.200000  46.000000  158.496000
75%    5.350000  52.000000  163.068000
max    5.500000  58.000000  167.640000

In [108]:
df.drop(columns = ['Height CM', 'Weight'])

   Height
a     4.4
b     5.5
c     5.2

In [110]:
df.drop(index = ['a'])

   Height  Weight  Height CM
b     5.5      58    167.640
c     5.2      39    158.496

In [111]:
df

   Height  Weight  Height CM
a     4.4      46    134.112
b     5.5      58    167.640
c     5.2      39    158.496

In [117]:
df.loc['b']['Height']

5.5

In [120]:
df['Height']['b']

5.5

In [131]:
print(df.Height < 5.4)
print()
print('Sum', (df.Height < 5.4).sum(), ',True is treated as 1')

a     True
b    False
c     True
Name: Height, dtype: bool

Sum 2 ,True is treated as 1

# DataSet

In [137]:
df = pd.read_csv('https://raw.githubusercontent.com/neylsoncrepalde/projeto_eda_covid/master/covid_19_data.csv')
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
26708,26709,05/19/2020,Wyoming,US,2020-05-20 02:32:19,776.0,10.0,0.0
26709,26710,05/19/2020,Xinjiang,Mainland China,2020-05-20 02:32:19,76.0,3.0,73.0
26710,26711,05/19/2020,Yukon,Canada,2020-05-20 02:32:19,11.0,0.0,11.0
26711,26712,05/19/2020,Yunnan,Mainland China,2020-05-20 02:32:19,185.0,2.0,183.0
26712,26713,05/19/2020,Zhejiang,Mainland China,2020-05-20 02:32:19,1268.0,1.0,1267.0

## Head Tail Sample

In [141]:
df.head(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [142]:
df.tail(4)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
26709,26710,05/19/2020,Xinjiang,Mainland China,2020-05-20 02:32:19,76.0,3.0,73.0
26710,26711,05/19/2020,Yukon,Canada,2020-05-20 02:32:19,11.0,0.0,11.0
26711,26712,05/19/2020,Yunnan,Mainland China,2020-05-20 02:32:19,185.0,2.0,183.0
26712,26713,05/19/2020,Zhejiang,Mainland China,2020-05-20 02:32:19,1268.0,1.0,1267.0

In [145]:
df.sample(4)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
1289,1290,02/12/2020,Guizhou,Mainland China,2020-02-12T09:43:02,133.0,1.0,18.0
19952,19953,04/30/2020,NaN,Bulgaria,2020-05-01 02:32:28,1506.0,66.0,266.0
25529,25530,05/16/2020,Puglia,Italy,2020-05-17 02:32:32,4374.0,463.0,1807.0
21363,21364,05/04/2020,NaN,Senegal,2020-05-05 02:32:34,1271.0,10.0,415.0

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              26713 non-null  int64
 1   ObservationDate  26713 non-null  object
 2   Province/State   12882 non-null  object
 3   Country/Region   26713 non-null  object
 4   Last Update      26713 non-null  object
 5   Confirmed        26713 non-null  float64
 6   Deaths           26713 non-null  float64
 7   Recovered        26713 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [147]:
df.describe()

                SNo      Confirmed        Deaths      Recovered
count  26713.000000   26713.000000  26713.000000   26713.000000
mean   13357.000000    5690.647550    373.353236    1736.979224
std     7711.523207   23417.369124   2214.074387   10864.727709
min        1.000000       0.000000      0.000000       0.000000
25%     6679.000000      18.000000      0.000000       0.000000
50%    13357.000000     192.000000      3.000000       8.000000
75%    20035.000000    1350.000000     28.000000     187.000000
max    26713.000000  352845.000000  35341.000000  289392.000000

## Drop Columns

In [148]:
df.sample(1)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
19034,19035,04/27/2020,NaN,Haiti,2020-04-28 02:31:20,76.0,6.0,8.0

In [153]:
# df = df.drop(columns = ['SNo', 'Last Update'])
df.drop(columns = ['SNo', 'Last Update'], inplace=True) # changes same dataframe

## Rename Columns

In [154]:
df.sample(4)

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
20775,05/02/2020,Colorado,US,16225.0,832.0,0.0
21111,05/03/2020,Gansu,Mainland China,139.0,2.0,137.0
18820,04/26/2020,NaN,Venezuela,325.0,10.0,137.0
22960,05/09/2020,NaN,Pakistan,28736.0,636.0,7809.0

In [159]:
df = df.rename(columns={ 'Province/State':'State',  'Country/Region': 'Country'})

In [162]:
df.sample(4)

,ObservationDate,State,Country,Confirmed,Deaths,Recovered
22299,05/07/2020,NaN,Monaco,95.0,4.0,82.0
8941,03/26/2020,NaN,Saint Lucia,3.0,0.0,0.0
17593,04/22/2020,Heilongjiang,Mainland China,921.0,13.0,479.0
15049,04/14/2020,Kentucky,US,2048.0,106.0,0.0

## Change datatype of columns

In [170]:
type(df['ObservationDate'][0])

str

In [171]:
df['ObservationDate'] = pd.to_datetime( df['ObservationDate'] )

In [172]:
type(df['ObservationDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [177]:
df['ObservationDate'][0] <= df['ObservationDate'][1]

True

## Groupby

In [191]:
df.head(5)

  ObservationDate      State         Country  Confirmed  Deaths  Recovered
0      2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1      2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2      2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3      2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4      2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [184]:
df2 = df.groupby('Country').sum()
df2.sample(5)

                Confirmed   Deaths  Recovered
Country
Cayman Islands        3.0      0.0        0.0
Guatemala         30109.0    712.0     2879.0
Gibraltar             7.0      0.0        1.0
Slovenia          72845.0   3735.0    11815.0
Ecuador          920418.0  51765.0    85820.0

In [190]:
print(df2.columns)
print()
print(df2.index)

Index(['Confirmed', 'Deaths', 'Recovered'], dtype='object')

Index([' Azerbaijan', '('St. Martin',)', 'Afghanistan', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       ...
       'Uzbekistan', 'Vatican City', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe',
       'occupied Palestinian territory'],
      dtype='object', name='Country', length=223)

In [188]:
df.groupby('Country').sum().reset_index()

                            Country  Confirmed   Deaths  Recovered
0                        Azerbaijan        1.0      0.0        0.0
1                   ('St. Martin',)        2.0      0.0        0.0
2                       Afghanistan   115615.0   3211.0    13641.0
3                           Albania    34319.0   1408.0    20212.0
4                           Algeria   183263.0  19089.0    76184.0
..                              ...        ...      ...        ...
218                  Western Sahara      256.0      0.0      144.0
219                           Yemen     1190.0    190.0       30.0
220                          Zambia     8987.0    166.0     3102.0
221                        Zimbabwe     1386.0    171.0      226.0
222  occupied Palestinian territory       25.0      0.0        0.0

[223 rows x 4 columns]

In [192]:
df.groupby(['Country', 'ObservationDate']).sum().reset_index()

,Country,ObservationDate,Confirmed,Deaths,Recovered
0,Azerbaijan,2020-02-28,1.0,0.0,0.0
1,"('St. Martin',)",2020-03-10,2.0,0.0,0.0
2,Afghanistan,2020-02-24,1.0,0.0,0.0
3,Afghanistan,2020-02-25,1.0,0.0,0.0
4,Afghanistan,2020-02-26,1.0,0.0,0.0
...,...,...,...,...,...
14696,occupied Palestinian territory,2020-03-12,0.0,0.0,0.0
14697,occupied Palestinian territory,2020-03-14,0.0,0.0,0.0
14698,occupied Palestinian territory,2020-03-15,0.0,0.0,0.0
14699,occupied Palestinian territory,2020-03-16,0.0,0.0,0.0
14700,occupied Palestinian territory,2020-03-17,0.0,0.0,0.0